<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.sensor.light" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetPlanet">
        <activity
            android:name=".activities.FotoPerfilActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.RazasActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.ListaDeChatsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilUsuarioWalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListarCuidadoresActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CambiarPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.IniciarPaseoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListaPaseosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LandingPetOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LandingPetWalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OlvidarpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AgendarPaseosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListarPerrosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelecciondeCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilPerroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistroPerroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistroPetWalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistroPetOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>